html {
    font-family: 'Roboto', serif;
}

#mainContainer {
    width: 100%;
}

#roomContainer {
    width: 300px;
    height: 100%;
}

#chat-content {
    width: 100%;
}

.circle {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: #6aea96;
    text-align: center;
    font-size: 24pt;
}

.align-right{
    text-align: right;
    float: right;
}