/****** Chat ******/
#contentChat {
    background-color: #DCDCDC;
}

#contentItem {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#contentUser {
    text-align: center;
    color: #5F5F5F;
}

#contentMessage {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

#contentTimestamp {
    float: right;
    color: gray;
    font-size: 80%;
}

#userIdent {
    width: 90px;
    height: 69px;
    margin-left: 8px;
    margin-right: 8px;
}
/*******************/

/****** Toolbar ******/
#toolbarAvatar {
    float: right;
}
/*******************/

/****** Login Form ******/
.login-form {
    width: 500px;
}
/*******************/

/****** General ******/
.circle {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24pt;
}

.formPadding {
    padding: 20px;
}
/*******************/