<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet prefetch" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Emoji Stlyesheets -->
    <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.a.css">
</head>
<body ng-app="chat" ng-controller="chatController as chatCtrl" ng-cloak layout="row">

<!--- Show chat if logged in -->
<div ng-if="chatCtrl.loggedIn" layout="column" flex>
    <!-- Chat Toolbar at the top -->
    <chat-toolbar></chat-toolbar>

    <!-- Main screen -->
    <div id="mainContainer" flex layout="row">
        <!-- Sidebar -->
        <chat-sidebar layout="column"></chat-sidebar>
        <chat-area layout="column" flex></chat-area>
    </div>
</div>

<!-- Show Login Screen if not logged in -->
<div ng-if="!chatCtrl.loggedIn" layout="column" layout-align="center center" flex >
    <login-window id="loginBox"></login-window>
</div>

<!-- Angularjs Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
<script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.min.js"></script>
<script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
<!-- Jquery for the Emoji Picker -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

<!-- Emoji Scripts -->
<script type="text/javascript" src="js/emoji/jquery.emojipicker.js"></script>
<script type="text/javascript" src="js/emoji/jquery.emojis.js"></script>

<!-- Javascript -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/customDirectives.js"></script>

</body>
</html>