<div layout="row" flex>
    <md-content style="background-color: #DCDCDC;" id="chat-content" scroll-glue>
        <md-list>
            <md-list-item ng-repeat="message in chatCtrl.messages" style="margin-left: 8px; margin-top: 8px; margin-bottom: 8px;">
                <div id="userIdent" style="margin-left: 8px; margin-right: 8px" flex-order="{{chatCtrl.isOwnMessage(message.user)}}" layout="column" layout-align="center center" class="md-caption">
                    <div class="md-avater circle" ng-style="chatCtrl.getUserColor(message.user)">{{chatCtrl.getFirstLetter(message.user) | uppercase}}</div>
                    <div style="text-align: center; color: #5F5F5F;">
                        {{message.user}}
                    </div>
                </div>
                <div flex-order = "1" style="background-color: white; padding: 10px; border-radius: 5px; margin-right: 10px;" layout-fill>
                    {{message.message}} <i style="float: right; color: gray; font-size: 80%;">{{message.timestamp | date:'HH:mm'}}</i>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
<form name="inputForm" layout="row" style="padding: 20px;" ng-submit="chatCtrl.sendMessage()" autocomplete="off" novalidate>
    <md-button style="margin: 10px;" id="emojiButton" class="md-fab md-mini md-primary" aria-label="Emoji Picker" ng-click="chatCtrl.emojiClick()">
        <md-icon class="material-icons">face</md-icon>
    </md-button>
    <md-input-container flex layout-align="center" layout-fill>
            <label>Message your ""Friends""!</label>
            <input id="messageInput" type="text" ng-model="chatCtrl.myMessage">
    </md-input-container>
    <md-button class="md-fab md-primary" aria-label="Send Message" ng-click="chatCtrl.sendMessage()" ng-disabled="!chatCtrl.myMessage">
        <md-icon class=material-icons">send</md-icon>
    </md-button>
</form>