<div id="messagesWindow" layout="row" flex>
    <md-content id="contentChat" scroll-glue flex>
        <md-list>
            <md-list-item id="contentItem" ng-repeat="message in chatCtrl.messages">
                <div id="userIdent" flex-order="{{chatCtrl.isOwnMessage(message.user)}}" layout="column" layout-align="center center" class="md-caption">
                    <div class="md-avater circle" md-whiteframe="2" ng-style="chatCtrl.getUserColor(message.user)">{{chatCtrl.getFirstLetter(message.user) | uppercase}}</div>
                    <div id="contentUser">
                        {{message.user}}
                    </div>
                </div>
                <div id="contentMessage" flex-order = "1" layout-fill>
                    {{message.message}}
                    <i id="contentTimestamp">{{message.timestamp | date:'HH:mm'}}</i>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
<form name="inputForm" class="formPadding" layout="row" ng-submit="chatCtrl.sendMessage()" autocomplete="off" novalidate>
    <md-button class="md-fab md-mini md-primary" aria-label="Emoji Picker" ng-click="chatCtrl.emojiClick()">
        <md-icon class="material-icons">face</md-icon>
    </md-button>
    <md-input-container flex layout-align="center" layout-fill>
            <label>Message your ""Friends""!</label>
            <input id="messageInput" type="text" ng-model="chatCtrl.myMessage">
    </md-input-container>
    <md-button class="md-fab md-primary" aria-label="Send Message" ng-click="chatCtrl.sendMessage()" ng-disabled="!chatCtrl.myMessage">
        <md-icon class=material-icons">send</md-icon>
    </md-button>
</form>