<md-sidenav md-component-id="sidebar" md-no-ink
            md-is-locked-open="true" class="md-whiteframe-z2" flex  layout="column" >

    <md-content id="roomContainer">
        <md-list>
            <md-list-item ng-repeat="room in rooms">
                <md-button flex ng-click="chatCtrl.joinRoom($index)">
                    <div layout="row" layout-align="left center">
                        <!-- <img ng-src="{{user.image}}" class="md-avatar"></img> -->
                        <div ng-style="chatCtrl.getRoomColor()" class="md-avatar circle">{{chatCtrl.getFirstLetter(room)}}</div>
                        {{room}}
                    </div>
                </md-button>

            </md-list-item>
        </md-list>

    </md-content>

    <!-- This Part is the Create Room Element -->
    <form layout-padding autocomplete="off">
        <md-input-container>
            <label>Room name</label>
            <input ng-model="myNewRoomName">
        </md-input-container>
        <md-button class="md-fab md-accent" ng-click="chatCtrl.createRoom()" ng-disabled="!myNewRoomName" aria-label="Create">
            <md-icon class="material-icons">create</md-icon>
        </md-button>
    </form>


</md-sidenav>